name: 'Links'

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: '00 18 * * *'

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: 'Link Checker'
        id: lychee
        uses: lycheeverse/lychee-action@v2.6.1
        with:
          args: '--verbose --no-progress ./**/*.md --fail-if-empty=false'
